/*--------------IMPORTS----------------*/
@font-face {
  font-family: type;
  src: url("url(fonts/AmericanTypewriter.ttc).eot");
  src: url("url(fonts/AmericanTypewriter.ttc).eot#iefix") format("embedded-opentype"), url("url(fonts/AmericanTypewriter.ttc).ttf") format("truetype"), url("url(fonts/AmericanTypewriter.ttc).svg#type") format("svg"), url("url(fonts/AmericanTypewriter.ttc).woff") format("woff"); }

@font-face {
  font-family: type;
  src: url(fonts/AmericanTypewriter.ttc); }

@font-face {
  font-family: badguy;
  src: url(fonts/BadGuyBlack.otf); }

@font-face {
  src: url(fonts/SignPainter.ttc); }

.limit-min {
  font-size: 4vw; }
  @media (max-width: 1750px) {
    .limit-min {
      font-size: 70px; } }

.limit-min-max {
  font-size: 3vw; }
  @media (max-width: 1333.33333px) {
    .limit-min-max {
      font-size: 40px; } }
  @media (min-width: 1666.66667px) {
    .limit-min-max {
      font-size: 50px; } }

header {
  max-width: 100%;
  width: 2000px;
  margin: auto; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: SignPainter; }
  @media (max-width: 40em) {
    .menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .menu .logo {
    max-width: 200px;
    padding-top: 10px; }
  .menu .icons {
    max-width: 50px;
    margin: 0 -25px;
    padding-right: 30px; }
  .menu a {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #808080;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-size: 2.5em; }
  .menu a:hover {
    color: white; }

footer {
  width: 100%; }
  footer div {
    max-width: 300px; }

.footer-svg {
  max-width: 20px; }

.home {
  background-image: url(img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #521F19;
  font-family: SignPainter; }

.home img {
  width: 100%;
  max-width: 1000px; }

.enter {
  background-color: transparent;
  border: 5px solid #521F19;
  color: white;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-family: SignPainter; }

.about, .featured, .events, .blog, .appraisals, .contact {
  background-color: #521F19;
  color: white; }
  .about iframe, .featured iframe, .events iframe, .blog iframe, .appraisals iframe, .contact iframe {
    max-width: 100%; }
