//COLORS

$maroon: #521F19;

//FONT FACE

@mixin font-face($name, $url) {
  @font-face {
    font-family: #{$name};
    src: url('#{$url}.eot');
    src: url('#{$url}.eot#iefix') format("embedded-opentype"),
         url('#{$url}.ttf') format('truetype'),
         url('#{$url}.svg##{$name}') format('svg'),
         url('#{$url}.woff') format('woff');

    @content;
  }
}

//VIEWPORT FONTS

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

@font-face {
    font-family: type;
    src: url(fonts/AmericanTypewriter.ttc);
}

.home {
			background-image: url(img/background.jpg);
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
      color: $maroon;
      font-family: type;
}

.home img {
  width: 100%;
  max-width: 1000px;
}

.enter {
  background-color: transparent;
  border: 10px solid $maroon;
  color: white;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-family: type;
}

.about {
  background-color: $maroon;
  color: white;
}

header {
  max-width: 100%;
  width: 2000px;
  margin: auto;
}

.menu{
  display:flex;
  align-items: center;
  justify-content: center;
  @media (max-width:40em){
    flex-direction:column;
  }
  .logo {
    max-width: 200px;
    padding-top: 10px;
  }
  .icons {
    max-width: 50px;
    margin: 0 -25px;
    padding-right: 30px;
  }
  a{
    flex-grow:1;
    color:white;
    text-decoration:none;
    text-align:center;
    padding: 15px;
  }
}

.limit-min {
  @include responsive-font(4vw, 30px);
}

.limit-min-max {
  @include responsive-font(3vw, 20px, 50px);
}
