/*--------------IMPORTS----------------*/
@import url(layout/grid-settings.css);
@font-face {
  font-family: type;
  src: url("url(fonts/AmericanTypewriter.ttc).eot");
  src: url("url(fonts/AmericanTypewriter.ttc).eot#iefix") format("embedded-opentype"), url("url(fonts/AmericanTypewriter.ttc).ttf") format("truetype"), url("url(fonts/AmericanTypewriter.ttc).svg#type") format("svg"), url("url(fonts/AmericanTypewriter.ttc).woff") format("woff"); }

@font-face {
  font-family: type;
  src: url(fonts/AmericanTypewriter.ttc); }

@font-face {
  font-family: badguy;
  src: url(fonts/BadGuyBlack.otf); }

@font-face {
  src: url(fonts/SignPainter.ttc); }

.limit-min {
  font-size: 4vw; }
  @media (max-width: 1750px) {
    .limit-min {
      font-size: 70px; } }

.limit-min-max {
  font-size: 3vw; }
  @media (max-width: 1333.33333px) {
    .limit-min-max {
      font-size: 40px; } }
  @media (min-width: 1666.66667px) {
    .limit-min-max {
      font-size: 50px; } }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  padding: 10px;
  width: 100%; }

header {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: SignPainter; }
  @media (max-width: 40em) {
    .menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .menu .logo {
    max-width: 200px;
    padding-top: 10px; }
  .menu .icons-div {
    padding-left: 10px; }
  .menu .icons {
    max-width: 80px;
    margin: 0 -25px;
    padding-right: 30px; }
  .menu a {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #808080;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-size: 2.5em; }
  .menu a:hover {
    color: white; }

footer {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-family: type;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  footer ul {
    list-style: none; }
    footer ul li {
      text-align: center;
      float: left;
      padding: 30px; }

.footer-svg {
  max-width: 40px; }

.home {
  background-image: url(img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #521F19;
  font-family: SignPainter;
  margin: auto;
  width: 1200px;
  max-width: 100%; }
  .home img {
    width: 100%; }

.enter {
  background-color: transparent;
  border: 5px solid #521F19;
  color: white;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-family: SignPainter;
  margin: auto; }

.about {
  font-family: type;
  letter-spacing: 1px;
  line-height: 1.5; }
  .about span {
    font-family: SignPainter;
    font-size: 80px;
    padding-bottom: 20px; }
  .about h1 {
    font-family: BadGuyBlack;
    font-size: 2.5em;
    text-align: center;
    color: #cc9900; }

#emailkern {
  letter-spacing: 2px; }

.featured h1 {
  font-family: BadGuyBlack;
  font-size: 2.5em;
  text-align: center;
  color: #cc9900; }

.contact {
  background-image: url(img/contact_background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .contact h1 {
    color: #cc9900;
    font-family: BadGuyBlack;
    font-size: 2.5em;
    text-align: center; }

#form {
  width: 700px;
  max-width: 100%;
  margin: auto; }

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
  opacity: 0.3;
  font-size: 15px;
  width: 100%;
  max-width: 800px;
  resize: none; }

input[type="submit"] {
  width: 400px;
  max-width: 100%;
  float: right; }

.about, .featured, .events, .blog, .appraisals, .contact {
  background-color: #521F19;
  color: white; }
  .about iframe, .featured iframe, .events iframe, .blog iframe, .appraisals iframe, .contact iframe {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-bottom: 20px; }
