//Header Breakpoint for $tablet

//About Breakpoints

.about-container {
  @include breakpoint(desktop) {
    display: flex;
    flex-direction: row;
    main {
      width: 70%;
      margin-right: 40px;
      margin-top: -20px;
    }
  }
}

//Events Breakpoint

.event {
  @include breakpoint(tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    max-width: 800px;
    margin: auto;

    img {
      height: 100%;
      margin-right: auto;

    }
    a {
      float: right;
    }
  }
}

//Breakpoints for Expanded Events Page

.expanded-wrapper{
  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 100%;
    background-color: $gray;
    font-family: type;
    font-size: em(20px);
    color: white;
    letter-spacing: 1.5px;
    line-height: 1.5;
    border: 4px solid $yellow;
    margin: auto;
  }
}

footer {
  @include breakpoint(tablet) {
    ul {
      display: flex;
      flex-direction: row;
        li {
          flex-grow: 1;
          width: calc(100% * (1/2));
        }
      }
    }
    @include breakpoint(desktop) {
      max-height: 210px;
        li {
          margin: 40px;
        }
      }
  }
