@import "layout/grid-settings.scss";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

//BODY

body {
  padding: 10px;
  width: 100%;
}


//HEADER

header {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: SignPainter;
  @media (max-width:40em){
    flex-direction: column;
  }

  .logo {
    max-width: 200px;
    padding-top: 10px;
  }

  .icons-div {
    padding-left: 10px;
  }

  .icons {
    max-width: 80px;
    margin: 0 -25px;
    padding-right: 30px;
  }

  a {
    flex-grow: 1;
    color:$gray;
    text-decoration:none;
    text-align:center;
    padding: 15px;
    font-size: 2.5em;
  }
  a:hover {
    color: white
  }
}

//FOOTER

footer {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  font-family: type;
  ul {
    list-style: none;
    li {
      text-align: center;
    }
  }
}

.footer-svg {
  max-width: 40px;
}
//HOME SCREEN

.home {
  background-image: url(img/background.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
  color: $maroon;
  font-family: SignPainter;
  margin: auto;
  width: 1200px;
  max-width: 100%;
    img {
      width: 100%;
    }
}

.enter {
  background-color: transparent;
  border: 5px solid $maroon;
  color: white;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-family: SignPainter;
  margin: auto;
}

//ABOUT

.about {
  font-family: type;
  letter-spacing: 1px;
  line-height: 1.5;
  span {
    font-family: SignPainter;
    font-size: 80px;
    padding-bottom: 20px;
  }
  h1 {
    font-family: BadGuyBlack;
    font-size: em(40px);
    text-align: center;
  }
}

#emailkern {
  letter-spacing: 2px;
}

//CONTACT

#form {
  width: 700px;
  margin: auto;
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
  opacity: 0.3;
  font-size: 15px;
  width: 100%;
  max-width: 800px;
  resize: none;
}

input[type="submit"] {
  width: 100%;
  max-width: 400px;
  float: right;
}

//TEMPLATE

.about, .featured, .events, .blog, .appraisals, .contact {
  background-color: $maroon;
  color: white;
  iframe {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-bottom: 20px;
  }
}
