@import "grid-settings.scss";
@import "dropzone.scss";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

//BODY

body {
  background-color: $maroon;
  color: white;
  padding: 10px;
  width: 100%;
}


//HEADER

header {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: SignPainter;
  @media (max-width:40em){
    flex-direction: column;
  }

  .logo {
    max-width: 200px;
    padding-top: 10px;
  }

  .icons-div {
    padding-left: 10px;
  }

  .icons {
    max-width: 80px;
    margin: 0 -25px;
    padding-right: 30px;
  }

  a {
    flex-grow: 1;
    color:$gray;
    text-decoration:none;
    text-align:center;
    padding: 15px;
    font-size: 2.5em;
  }
  a:hover {
    color: white
  }
}

//FOOTER

footer {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  position: relative;
  left:0px;
  bottom:0px;
  font-family: type;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  ul {
    list-style: none;
    li {
      text-align: center;
      padding: 10px;
    }
  }
}

.footer-svg {
  max-width: 40px;
}

//HOME SCREEN

.home {
  background-image: url(img/background.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size: cover;
  color: $maroon;
  font-family: SignPainter;
    img {
      width: 100%;
      max-width: 600px;
    }
}

.enter {
  background-color: transparent;
  border: 5px solid $maroon;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
  font-family: SignPainter;
}

//ABOUT

.about {
  p {
    font-family: type;
    letter-spacing: 1px;
    line-height: 1.5;
      span {
        font-family: SignPainter;
        font-size: 80px;
        padding-bottom: 20px;
      }
    }
    h2 {
      font-family: badguy;
      text-align: center;
      color: $yellow;
    }
}

#emailkern {
  letter-spacing: 2px;
}

iframe {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-bottom: 20px;
}

//FEATURED ITEMS

.featured-container {
  width: 1200px;
  max-width: 100%;
}

.featured {

}

//EVENTS

.events-container {
  border: 4px solid $yellow;
}

//BLOG

.blog {
  h2 {
    font-family: badguy;
    font-size: em(30px);
    letter-spacing: 1.5px;
    text-align: center;
    color: $maroon;

  }
  h3 {
    font-family: badguy;
    font-size: em(20px);
    color: $maroon;

  }
  img {
    max-width: 100%;
  }
  p {
    font-family: type;
    letter-spacing: 2px;
    line-height: 1.5;
  }
}

.blog-large,
.blog-medium,
.blog-small {
  padding: 20px;
  background-color: $gray;
  border: 4px solid $yellow;
  margin: 10px;
}

.blog-medium {
  img {
    max-height: 200px;
    padding: 5px;
    margin: auto;
    float: right;
  }
}

.blog-small {
  h3 {
    font-size: em(14px);
    display: inline-block;
    padding-right: 10px;
  }
}

.truncate {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//EVENTS

.events-container {
  background-color: $gray;
}

.event {
  border-bottom: 7px dotted;
  border-color: white;
  text-align: center;
  &:last-child {
    border-bottom: none;
  }
  img {
    width: 100%;
    max-width: 300px;
    border: 5px solid;
    border-color: $maroon;
    margin-top: 30px;
  }
  p {
    font-family: type;
    font-size: em(30px);
    span {
      font-family: badguy;
    }

  }
  h2 {
    font-family: SignPainter;
    font-size: em(50px);
  }
}

//APPRAISALS

.appraisals-container {
  p {
    letter-spacing: 1.5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="submit"],
  textarea {
    border: 4px solid $yellow;
    opacity: 1;
    padding: 10px;
  }
  button {
    font-size: em(25px);
  }
}

.app-message,
.app-contact,
.app-button {
  padding: 5px;
}

.dropzone,
.app-first,
.app-message,
.app-contact {
  p {
    font-family: type;
    display: inline;
    &:first-of-type {
      font-family: badguy;
      color: $yellow;
    }
  }
}

.app-contact {
  div {
    padding-bottom: 15px;
  }
}

.app-button {
  width: 150px;
  padding-top: 20px;
  margin: auto;
}

.dropzone {
  margin-bottom: 15px;
}

//CONTACT

.contact {
  background-image: url(img/contact_background.png);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#form {
  width: 700px;
  max-width: 100%;
  margin: auto;
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
  opacity: 0.3;
  font-size: em(20px);
  width: 100%;
  max-width: 800px;
  resize: none;
  font-family: type;
}

input[type="submit"] {
  width: 400px;
  max-width: 100%;
  float: right;
}

//CONTAINER DIV STYLING

.home-container,
.about-container,
.events-container,
.blog-container,
.appraisals-container,
.contact-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

//ELEMENT STYLING

.about,
.featured,
.events,
.blog,
.appraisals,
.contact {
  h1 {
    font-family: badguy;
    color: $yellow;
    text-align: center;
    font-size: em(40px);
    letter-spacing: 1px;
  }
}

button {
  -webkit-box-shadow: 3px 4px 8px #666666;
  -moz-box-shadow: 3px 4px 8px #666666;
  box-shadow: 1px 2px 6px #666666;
  font-family: type;
  color: white;
  border: 2px solid $yellow;
  font-size: 20px;
  background: $maroon;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 15px;
  &:hover {
    background: $yellow;
    text-decoration: none;
  }
}
